{% load i18n static extra_tags %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>🎓 Certificate validation</title>
        <link rel="stylesheet" type="text/css" href="{% static 'joanie/css/certificate/verify.css' %}" />
    </head>
    <body>
        <header class="header">
            <img class="header__logo" alt="{%trans 'Company logo' %}" src="{% base64_static 'joanie/images/logo_fun.png' %}" />
        </header>
        <main class="content">
            <section class="content__information">
                <h1>{% trans "This certificate is genuine!" %}</h1>
                <p>{%blocktranslate trimmed with creation_date=certificate_context.creation_date|date:"SHORT_DATE_FORMAT" learner_name=certificate_context.student.name organization_name=certificate_context.organizations.0.name%}
                    This certificate has been issued on {{ creation_date }} to {{ learner_name }} by {{ organization_name }}.
                    {% endblocktranslate %}</p>
                <p>{% trans "Please compare information displayed on the certificate below with yours." %}</p>
            </section>
            <section class="content__document">
                <iframe id="pdf-viewer" src="data:application/pdf;base64,{{base64_pdf}}" type="application/pdf"></iframe>
            </section>
        </main>
        <footer class="footer">
            <p class="footer__content">{{ site.name }} | <a href="{{ site.hostname }}" target="_blank" rel="noopener noreferrer">{{ site.hostname }}</a></p>
        </footer>
    </body>
</html>
