@use "abstracts";

html, body, #__next {
  height: 100%;
}

body {
  margin: 0;
  color: rgb(var(--foreground-rgb));
  background: white;
  overflow: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  align-items: center;
}
