@use "abstracts";

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  overflow: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  align-items: center;
}
