.navSettingsContainer {

}

.navAvatar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navAvatarContainer {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}