{% load i18n %}
{% load static %}

<html>
  {% if debug %}
  <head>
    <style>
      {{ css }}
    </style>
  </head>
  {% endif %}
  <body>
    <main>
      <header>
        <div class="logos">
          <div class="organization">
            <img src="{{ organization.logo }}" />
          </div>
        </div>
        <div class="title">
          {% if contract %}
            <h1> {{contract.title|linebreaks}}</h1>
          {% endif %}
        </div>
      </header>
      <section class="representative">
        <div>
          <p>
            {% translate "This document certifies that the student wants to enroll to the course" %}: {{ course.name|capfirst }}.
          </p>
          <p>
            {% translate "Your order is delivered by the organization" %}:
            {% if organization %}
              {{ organization.name }}
            {% endif %}
          </p>
      </div>
      </section>
      <section class="student">
        <div>
          <p>
          {% if student %}
            {% translate "Student name" %}: {{ student.name }}.
          </br>
            {% translate "Student address" %}: {{ student.address.address }} {{ student.address.postcode }}, {{ student.address.city }}.
          </p>
          {% endif %}
        </div>
      </section>
      <section class="contract-articles">
        <div>
          {% translate "Conditions of the contract" %} :
        </div>
        <div class="articles">
            {% if contract %}
              {{ contract.body|safe }}
              {{ contract.terms_and_conditions|safe }}
            {% endif %}
        </div>
      </section>
      <footer class="footer">
        <div class="signature_zone">
          {% translate "Student's signature" %}:
          <div class="signature-recipient">
            [SignatureField#1]
          </div>
        </div>
        <div class="signature_zone">
          {% translate "Representative's signature" %}:
          <div class="signature-recipient">
            [SignatureField#2]
          </div>
        </div>
      </footer>
    </body>
  </main>
</html>
