{% load i18n %}
{% load static %}
{% load extra_tags %}

{% comment %}
This template aims to be used as a contract for training built by Unicamp© brand.
Surely you will need to create a new contract template for your training, feel free to use
this template as a base.
{% endcomment %}
<html>
  {% if debug %}
  <head>
    <style>
      {{ css|safe }}
    </style>
  </head>
  {% endif %}
  <body class="document">
    <header class="document--header">
        {% block header %}
            {% include 'contract_definition/fragment_logo.html' with organization=organization %}
        {% endblock %}
    </header>
      <main class="document-content">
          <header class="content--header">
              <h1>{{ contract.title }}</h1>
              <p>{{contract.description|linebreaks}}</p>
          </header>
          <section class="content--context">
              <p>{% translate "The current contract is formed between the University and the Learner, as identified below:" %}</p>
              <dl>
                  <dt>{% translate 'University (hereinafter "the University"): '%}</dt>
                  <dd>
                      <ul>
                          <li>{% translate "Name of the University: "%}{{ organization.name }}</li>
                          {% if organization.address %}
                          <li>{% translate "Head office address: "%}{{ organization.address.address }}, {{ organization.address.postcode }} {{ organization.address.city }} ({{ organization.address.country }})</li>
                          {% endif %}
                          <li>{% translate "SIRET number: "%}{{ organization.enterprise_code|default:"-" }}</li>
                          <li>{% translate "Activity Declaration N°: "%}{{ organization.activity_category_code|default:"-" }}</li>
                          <li>{% translate "Legal Representative: "%}{{ organization.representative }}
                              {%if organization.representative_profession %} - {{ organization.representative_profession }} {%endif%}
                          </li>
                          {% if organization.signatory_representative %}
                          <li>{% translate "Delegated signatory: "%}{{ organization.signatory_representative }} - {{ organization.signatory_representative_profession }}</li>
                          {% endif %}
                          <li>{% translate "Administrative contact: "%}
                              {% if organization.contact_email and organization.contact_phone %}
                              {{ organization.contact_email }} - {{ organization.contact_phone }}
                              {% elif not organization.contact_email and not organization.contact_phone %}
                              -
                              {% else %}
                              {{ organization.contact_email|default:organization.contact_phone }}
                              {% endif %}
                          </li>
                          <li>{% translate "Data Protection Officer contact: "%}{{ organization.dpo_email|default:"-" }}</li>
                      </ul>
                  </dd>
                  <dt>{% translate 'Learner (hereinafter "the Learner"):' %}</dt>
                  <dd>
                      <ul>
                          <li>{% translate "Full name: " %}{{ student.name }}</li>
                          <li>{% translate "Postal address: " %}
                              {{ student.address.address }}, {{ student.address.postcode }} {{ student.address.city }} ({{ student.address.country }})
                          </li>
                          <li>{% translate "Email address: " %}{{ student.email }}</li>
                          <li>{% translate "Telephone number: " %}{{ student.phone_number|default:"-" }}</li>
                      </ul>
                  </dd>
              </dl>
          </section>
          <article class="content-articles">
              <h3>{% translate "Article 1 : Training Description" %}</h3>
              <ul>
                <li>{% translate "Course number: " %}{{ course.code }}</li>
                <li>{% translate "Name of the Course: " %}{{ course.name }}</li>
                <li>{% translate "Session start date: " %}
                    {% with start=course.start|iso8601_to_date:"SHORT_DATETIME_FORMAT" %}
                    {% if start %}
                    {{ start }}
                    {% else %}
                    {{ course.start|default:"-" }}
                    {% endif %}
                    {% endwith %}
                </li>
                <li>{% translate "Session end date: " %}
                    {% with end=course.end|iso8601_to_date:"SHORT_DATETIME_FORMAT" %}
                    {% if end %}
                    {{ end }}
                    {% else %}
                    {{ course.end|default:"-" }}
                    {% endif %}
                    {% endwith %}
                </li>
                {% if course.effort %}
                <li>{% translate "Total duration of the course: " %}
                    {% with duration=course.effort|iso8601_to_duration:"hours" %}
                    {% if duration %}
                    {% blocktranslate with duration=duration count duration=duration trimmed%}
                    {{ duration }} hour
                    {% plural %}
                    {{ duration }} hours
                    {% endblocktranslate %}
                    {% else %}
                    {{ course.effort|default:"-" }}
                    {% endif %}
                    {% endwith %}
                </li>
                {% endif %}
                <li>{% translate "Price of the course: " %}
                    {% with price=course.price|floatformat:2 currency=course.currency %}
                    {% if price %}
                    {{ price }} {{ currency }}
                    {% else %}
                    {{ course.price|default:"-" }}
                    {% endif %}
                    {% endwith %}
                </li>
              </ul>
              {% if contract %}
                  {{ contract.body|safe }}
              {% endif %}
              <section class="content-signatures">
                  <div class="signature_zone">
                      <p>{% translate "Learner's signature :" %}</p>
                      <div class="signature-recipient">
                          [SignatureField#1]
                      </div>
                  </div>
                  <div class="signature_zone">
                      <p>{% translate "University representative's signature :" %}</p>
                      <div class="signature-recipient">
                          [SignatureField#2]
                      </div>
                  </div>
              </section>
              {% if contract.appendix or syllabus or student.payment_schedule %}
                <h2>{% translate "Appendices" %}</h2>
              {% endif %}
              {% if contract.appendix %}
                {{ contract.appendix|safe }}
              {% endif %}
              {% if student.payment_schedule %}
                <h3>{% translate "Payment schedule" %}</h3>
                <table class="installments-table">
                    <thead>
                        <tr>
                            <th>{% translate "Due date" %}</th>
                            <th>{% translate "Amount" %}</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td>
                                {% translate "Total :" %}
                            </td>
                            <td>
                                {{ course.price|floatformat:2 }}&nbsp;{{ course.currency }}
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for payment in student.payment_schedule %}
                        <tr>
                            <td>{{ payment.due_date|iso8601_to_date:"SHORT_DATE_FORMAT" }}</td>
                            <td>{{ payment.amount|floatformat:2 }}&nbsp;{{ course.currency }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              {% endif %}
              {% if syllabus %}
                <h3>{% translate "Catalog syllabus" %}</h3>
                {% include "contract_definition/fragment_appendice_syllabus.html" with syllabus=syllabus %}
              {% endif %}
          </article>
      </main>
    </body>
</html>
