@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;500&family=Montserrat:wght@400;600&display=swap&family=Cinzel:wght@500");

body {
  font-family: 'Hind', Arial, sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #222;
}

@media print {
  /* ----------------------
   * Reset margins for media
   * ---------------------- */
  @page {
    size: A4 landscape;
    margin: 0;
    padding: 0;
  }

  html {
    background-image: var(--document-bg);
    background-size: 33mm auto, 100% 100%;
    background-repeat: no-repeat;
    background-position: center 2mm, center center;
    padding: 23mm 23mm;
    height: 210mm;
    width: 297mm;
    box-sizing: border-box;
    display: block;
    z-index: 999;
  }

  * {
    margin: 0;
    padding: 0;
  }

  /* == Certificate */
  #certificate {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  /* == Header */
  #certificate header {
    display: inline-block;
    text-align: center;
    padding-top: 10mm;
    width: 100%;
  }

  #certificate header div {
      display: inline-block;
      margin: 0 auto;
  }

  #certificate header h1 {
    font-family: 'Cinzel', "Times New Roman", serif;
    font-weight: 500;
    font-size: 96px;
    text-align: center;
    display: inline-block;
    line-height: 0.8;
  }
  #certificate header h1::first-letter {
    font-size: 120px;
  }
  #certificate .issuance-date {
    text-align: right;
    line-height: 1;
  }


  /* == Student */
  #certificate .student {
    text-align: center;
    padding: 5mm 0;
    flex: 1;
    line-height: 1.1;
  }

  #certificate .student strong {
    font-size: 2rem;
    font-weight: inherit;
  }

  #certificate .student strong:first-child {
    line-height: 1.75;
  }

  /* == Signatories */
  #certificate .signatories {
    display: flex;
    margin-bottom: 24mm;
    padding-bottom: 5mm;
  }

  #certificate .signatories__column {
    flex: 1;
    margin: 0;
    font-size: 0.7rem;
    line-height: 1.25;
  }

  #certificate .signatories__column-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-self: center;
    flex: 1;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  #certificate .signatories__column-content > * {
    display: inline-block;
    margin: 0 auto;
  }

  /* == Signatories - Organization */
  .signatories__column-content.organization img {
    display: block;
    height: 25mm;
    padding-top: 2mm;
    width: auto;
  }

  .signatories__column-content.organization > .organization__signature {
    height: 13mm;
  }

  .signatories__column-content.organization .organization__signatory em {
    display: block;
    font-style: italic;
    margin: 0;
  }
  .signatories__column-content.organization .organization__signatory:before {
    height: 1px;
    background: #ccc;
    content: '';
    display: block;
    margin: 2mm auto;
    width: 50mm;
  }

  /* == Signatories - Platform */
  .signatories__column-content.platform img {
    padding: 2mm;
  }
}
