{% load i18n %}
{% load static %}
{% load extra_tags %}

{% comment %}
This template is used for FUN use case. It assumes that there is only one organization
which is the course provider. So the organization is accessed with organizations.0.
{% endcomment %}

<html>
<head>
    <style>
        :root {
          --document-bg: url("{% base64_static "joanie/images/degree_bg_decorator.png" %}"), url("{% base64_static "joanie/images/degree_bg_frame.png" %}");
        }
    </style>
    {% if debug %}
        <style>
            {{ css }}
        </style>
    {% endif %}
</head>
<body>
<div id="certificate">
    <header>
        <div>
            <h1>{% translate "Certificate" %}</h1>
            <p class="issuance-date">
            {% blocktranslate trimmed with creation_date=creation_date|date:"SHORT_DATE_FORMAT" %}
            Issued on {{ creation_date }}
            {% endblocktranslate %}
            </p>
        </div>
    </header>
    <section class="student">
        <p>
            <strong class="student-name">{{ student.name }}</strong>
            {% blocktranslate trimmed with student=student.name course=course.name %}
            <br>
            successfully completed the course
            <br>
            <strong class="coure-name">{{ course }}</strong>
            {% endblocktranslate %}
        </p>
    </section>
    <section class="signatories">
        <div class="signatories__column">
            <div class="signatories__column-content organization">
                <h2 class="organization__name">{{ organizations.0.name }}</h2>
                <img class="organization__logo" src="{{ organizations.0.logo }}" />
                <img class="organization__signature" src="{{ organizations.0.signature }}" />
                <p class="organization__signatory">
                    <em>{{ organizations.0.representative }}</em>
                    <em>{{ organizations.0.representative_profession }}</em>
                </p>
            </div>
        </div>
        <div class="signatories__column">
            <div class="signatories__column-content platform">
                <img src="{% base64_static "joanie/images/degree_fun_verified_badge.png" %}" />
                <p>
                    {% blocktranslate with link=verification_link %}
                    To verify the authenticity of this certificate, please visit:
                    <br/>
                    {{link}}
                    {% endblocktranslate %}
                </p>
            </div>
        </div>
    </section>
</div>
</body>
</html>
