@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #222;
}

@media print {
  @page {
    size: A4 landscape;
    margin: 0;
    padding: 0;
  }

  html {
    height: 210mm;
    width: 297mm;
    box-sizing: border-box;
    display: block;
    background-image: var(--document-bg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  * {
    margin: 0;
    padding: 0;
  }

  #certificate {
    display: flex;
    flex-direction: column;
    height: 210mm;
    width: 297mm;
    padding: 30mm 16mm 6mm 20mm;
    box-sizing: border-box;
  }

  /* == Header */
  #certificate header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 6mm;
  }

  .header__content {
    flex: 1;
  }

  #certificate header h1 {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 300;
    font-size: 76pt;
    line-height: 1;
    text-transform: uppercase;
    color: black;
  }

  .issuance-date {
    font-size: 10pt;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #333;
    margin-top: 5mm;
    margin-left: 3mm;
  }

  /* == Student */
  #certificate .student {
    padding: 3mm 0 5mm 0;
    flex: 1;
  }

  .student__name {
    display: block;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 36pt;
    font-weight: 800;
    color: #2d69af;
    line-height: 1.2;
    margin-bottom: 5mm;
  }

  .student__achievement {
    font-size: 12pt;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    margin-bottom: 8mm;
  }

  .student__course {
    display: block;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 24pt;
    font-weight: 800;
    color: #111;
    line-height: 1.3;
  }

  /* == Signatories */
  #certificate .signatories {
    display: flex;
    align-items: flex-end;
    margin-bottom: 4mm;
  }

  .signatories__spacer {
    width: 55mm;
    flex-shrink: 0;
  }

  .signatories__organization {
    margin-top: 35px;
    flex: 1;
    text-align: left;
    height: 275px;
  }

  .organization__name {
    font-size: 16pt;
    font-weight: 600;
    margin-bottom: 2mm;
  }

  .organization__logo {
    display: block;
    width: 25mm;
    height: auto;
    margin: 0 0 2mm 0;
  }

  .organization__signature {
    display: block;
    width: 25mm;
    height: auto;
  }

  .organization__signatory {
    margin-top: 1mm;
  }

  .organization__signatory-name {
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
  }

  .organization__signatory-role {
    display: block;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
  }

  /* == Signatories - Platform */
  .signatories__platform {
    width: 70mm;
    flex-shrink: 0;
  }

  .platform__logos {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 2mm;
    margin-bottom: 2mm;
  }

  .platform__fun-logo {
    width: 35mm;
    height: auto;
  }

  .platform__badge {
    width: 15mm;
    height: auto;
    margin-left: 140px;
  }

  .platform__verification {
    font-size: 9pt;
    font-weight: 600;
    font-style: italic;
    line-height: 1.5;
    color: #444;
    margin-bottom: 1.5mm;
  }

  .platform__verification a {
    color: #444;
    font-size: 9pt;
    font-weight: 400;
    font-style: italic;
    word-break: break-all;
    text-decoration: none;
  }

  .identity-verified {
    font-size: 8pt;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: black;
    margin-top: 30px;
  }
}
