{% extends "issuers/microcredential_degree_default.html" %}

{% load extra_tags %}

{% block header %}
<div class="header-logos">
    <img class="logo-unicamp" src="{% base64_static "joanie/images/logo_unicamp.png" %}" />
    {% if organizations|length > 1 %}
    <div class="header-logos__orgs">
        {% for org in organizations %}
            {% if org.logo %}
                {% include 'certificate/fragment_logo.html' with organization=org %}
            {% endif %}
        {% endfor %}
    </div>
    {% elif organizations.0.logo %}
    <div class="header-logos__orgs">
        {% include 'certificate/fragment_logo.html' with organization=organizations.0 %}
    </div>
    {% endif %}
</div>
{% endblock %}
